@import url("https://fonts.google.com/specimen/Dela+Gothic+One?preview.text_type=custom");

body{
    margin: 0;
}

.encabezado-redes-sociales{
    background-color:#10505c;
    height:60px;
    color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
}

.encabezado-redes-sociales i{
    color:whitesmoke;
}

.encabezado-redes-sociales a{
    margin-right: 15px;

}


nav {
    height: 80px;
    background-color: rgb(203,255,246);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Dela Gothic One', cursive;
}

nav .nav-imagen-logo img{
    height: 60px;
}

nav .nav-menu ul{
    display: flex;
    list-style-type: none;
}

nav .nav-menu-ul li{
    margin-right: 30px;
}

nav .nav-menu a{
    text-decoration: none;
}

.main{
    border: 5px solid rgb(16, 80, 92);
    height: 100vh;
    background-image: url("robot.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    justify-content: center;

}

.main-section{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-section{
    font-size: 35px;

}

.main-section button{
    background-color: rgb(16, 80, 92);
    width: 200px;
    height: 50px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

.footer{
    height: 60px;
    background-image: linear-gradient(rgb(16, 80, 92),rgb(16, 80, 92));
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

